@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

a {
    color: white;
}

img {
    max-width: 20vw;
    height: auto;
}

p,
h1,
h2,
h3 {
    margin-bottom: 0;
}

body {
    overflow: hidden;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #080808;
    color: white;
    font-size: 1.25vw;
}

.main-body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    margin-top: 10vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
    width: 100%;
    height: 6vh;
}

.header-left {
    display: block;
    position: absolute;
    left: 0;
    margin-left: 5vw;
}

.header-right {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 5vw;
}

.header-right-icon {
    display: inline-block;
    margin-right: 2vw;
    transition: color 0.2s;
}

.header-right-icon:hover {
    color: #ac59c6;
}

.header-left-text {
    margin-top: 1vh;
    font-weight: 800;
    text-decoration: none;
}

.tabbar {
    margin-left: 5vw;
    display: inline-flex;
}

.tab-btn {
    font-weight: 500;
    text-decoration: none;
    padding-top: 1vh;
    padding-right: 2vw;
    transition: color 0.2s;
}

.tab-btn:hover {
    color: #c0c0c0;
}

#selected-tab {
    color: #ac59c6;
    font-weight: bolder;
}

/* Home Tab */

.home {
    margin-top: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 62vw;
    line-height: 4vh;
}

.download-btn {
    margin-top: 6vh;

    width: 20vw; 
    height: 10vh;
    
    border-radius: 1.3vw;
    font-size: 1.5vw;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    background-color: #ac59c6;
    color: white;

    cursor: pointer;
    border: none;

    transition: background-color 0.2s;
}

.download-btn:hover {
    background-color: #8e3e9e;
}

#download-notice {
    margin-top: 1vh;
    color: #cecece;
    font-size: 0.95vw;
}

/* Community */

.community-body {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 52vw;
    line-height: 4vh;
}

.discord-widget {
    width: 20vw; 
    height: 50vh;

    border-radius: 1.3vw;
    font-size: 2vw;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    color: white;

    cursor: pointer;
    border: none;

    transition: background-color 0.2s;
}

.discord-widget-container {
    margin-top: 5vh;
    position: absolute;
    top: 50%;
    right: 5vw;
    transform: translateY(-38%);
    z-index: 10;
}

.community-btn {
    margin-top: 6vh;

    width: 20vw; 
    height: 10vh;
    
    border-radius: 1.3vw;
    font-size: 1.5vw;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    background-color: #ac59c6;
    color: white;

    cursor: pointer;
    border: none;

    transition: background-color 0.2s;
}

.community-stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

.community-btn:hover {
    background-color: #8e3e9e;
}

/* Downloads */

.premium {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vw;
    line-height: 4vh;
}

.subscriptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.premium-info {
    padding: 2vw;
    padding-top: 1vh;
    background-color: #080808;
    border: 0.3vw solid rgba(15,15,15,155);
    border-radius: 1.3vw;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 4vh;
    margin-right: 2vw;
    height: 54vh;
    width: 22vw;
}

.premium-info h1 {
    background: -webkit-linear-gradient(285deg,#3438ff, #ac59c6);
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-size: 2.9vw;
    margin-top: 0.5vh;
    line-height: 1;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    line-height: 4.3vh;
}

#old-price {
    font-size: 1.6vw;
    position: relative;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    text-shadow: 0 0.1vw 0.1vw rgba(0, 0, 0, 0.5);
}

#old-price:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0.4vh;
    background: linear-gradient(90deg, #ff3737, #ad0000);
    border-radius: 1vw;
    transform: translateY(-50%) rotate(-6deg);
}

#premium-price {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 1vw;
    font-weight: 800;
    font-size: 2.3vw;
    background: -webkit-linear-gradient(#1fc91f, #91bb8c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#free-price {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 800;
    font-size: 2.3vw;
    background: -webkit-linear-gradient(#1fc91f, #91bb8c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.premium-btn {
    width: 20vw; 
    height: 10vh;
    
    border-radius: 1.3vw;
    font-size: 1.5vw;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
    background-color: #ac59c6;
    color: white;

    cursor: pointer;
    border: none;

    transition: background-color 0.2s;
}

.premium-btn:hover {
    background-color: #8e3e9e;
}

/* Showcases */

#showcases {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.showcases {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70vw;
}

.showcase-header {
    margin-bottom: 1.5vh;
}

.showcase-reference {
    text-decoration: none;
}

.showcase {
    padding: 0.5vw;
    margin-right: 2vw;
    margin-bottom: 0;
    display: inline-block;
    font-family: 'Roboto', sans-serif;

    display: inline-block;
    width: 16vw;
    height: auto;

    transition: background-color 0.05s;
}

.showcase:hover {
    background-color: #313131;
    border-radius: 1vw;
}

.showcase-thumbnail {
    display: block;
    border-radius: 0.8vw;
    width: 100%;
    max-width: 100%;
}

.showcase-bottom-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: left;
    margin-top: 0.5vh;
    margin-left: 2.7vw;
}

.showcase-top-container {
    display: flex;
    align-items: center;
    margin-top: 1vh;
}

.showcase-avatar {
    display: inline-block;
    border-radius: 50%;
    width: 2.3vw;
    margin-top: 0;
}

.showcase-title {
    font-weight: 500;
    font-size: 0.8vw;
    display: inline-block;
    line-height: 2vh;
    width: 15vw;

    margin-top: 0;
    margin-left: 0.4vw;
    margin-bottom: 0;

    transition: color 0.05s;
}

.showcase-stats,
.showcase-author {
    font-weight: 400;
    font-size: 0.8vw;
    line-height: 2vh;
    color: #aaa;

    margin: 0;
    margin-bottom: 0.1vh;
}

/* Plugins */

.plugins {
    margin-top: 9vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 60vw;
    line-height: 4vh;
}

#plugins-release-date:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4, end) 900ms infinite;
    animation: ellipsis steps(4, end) 3000ms infinite;
    content: "\2026";
    width: 0;
}

.plugins-details {
    background-color: #080808;
    border: 0.3vw solid rgba(15,15,15,155);
    border-radius: 2vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    line-height: 6vh;
}

/* Contest */

.contest {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70vw;
    line-height: 4vh;
}

.contest-requirements {
    background-color: #080808;
    border: 0.3vw solid rgba(15,15,15,155);
    border-radius: 2vw;
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5vw;

    line-height: 4.5vh;
}

.contest-requirements li {
    margin-left: 2vw;
}
