button,
p {
    font-family: Roboto, Arial;
    margin: 0;
    margin-left: 0;
    margin-right: 0;
}

body {
    margin: 0;
    background-color: #111111;
}

.watermark-main {
    color: #ac59c6;
    font-weight: bold;
}

.tab-buttons {
    margin-right: 15px;
    display: flex;
}
.tab-button {
    margin-left:0;
    margin: 4px 2px;
    display: inline-block;
    font-size: 20px;
    color: gray;
    background-color: rgba(0,0,0,0);
    border: none;

    transition: color 0.15s,
    opacity 0.15s;
}

.tab-button:hover {
    cursor: pointer;
    color: white;
}

.tab-button:active {
    opacity: 0.5;
}

.tab-bar button.active {
    color: #ac59c6;
}

.tab-content {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.header {
    margin-top: 60px;
    margin-bottom: 0px;

    font-size: 36px;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    display: block;
}

.header-content  {
    margin-top: 50px;
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    text-align: center;
}

.download {
    font-weight: 600;
    margin-top: 25px;
    background-color: rgba(0,0,0,0);
    width: 200px;
    height: 70px;
    font-size: 17px;
    border-radius: 13px;
    border-color: #ac59c6;
    color: #ac59c6;
    border-style: solid;

    transition: background-color 0.3s,
    color 0.3s,
    opacity 0.15s;
}

.download:hover {
    cursor: pointer;
    color: white;
    background-color: #ac59c6
}

.download:active {
    opacity: 0.5;
}

.tab-bar {
    background-color: #1a1a1a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Remove padding */
}

.watermark-logo {
    height: 50px;
    margin-right: 22px;
}

.watermark-text {
    margin-top: 0; /* Adjust spacing between logo and text */
    font-size: 24px;
    font-weight: 500;
    display: inline-block;
}

.watermark {
    display: flex;
    align-items: center;
}

.contact {
    height: 55px;
    vertical-align: bottom;
    background-color: #1a1a1a;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-text {
    color: white;
    font-style: italic;
    font-size: 17px;
    margin-left: 10px;
}

.video-preview {
    padding: 5px;
    padding-right: 0;
    display: inline-block;
    text-align: left;

    transition: background-color 0.1s;
}

.video-preview:hover {
    cursor: pointer;
    background-color: #494949;
}

.video-preview:active {
    cursor: pointer;
    background-color: #0a0a0a;
}

.video-avatar {
    width: 43px;
    height: 43px;
    border-radius: 50px;
    display: inline-block;
    margin-right: 13px;
}

.video-thumbnail {
    border-radius: 10px;
    display: block;
    width: 400px;
    margin-bottom: 10px;
}

.video-details {
    display: flex;
}

.video-title {
    color: white;
    display: block;
    width: 350px;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
}

.video-author {
    margin-bottom: 3px;
}

.video-stats {
    margin-left: 54px;
    color: #aaa;
    font-size: 14px;
}